@media only screen and (min-width: 1100px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .col-13{width: 210%}
    .col-14{width: 230%}
    .col-15{width: 28.8%;}
    .col-16{width: 2%;}
    .col-17{width: 20%;}
    .col-18{width: 110%;}
    .col-19{width: 18%;}


    body{
    
        background: hsl(227, 60%, 97%);
        position: fixed;
    }
    
    header{
        position: relative;
        top: 40px;
        left: 40px;
    }
    
    .Cont1{
        position: fixed;
    }
    .mnu{
        display: none;
    }
    .mnu2{
        display: none;
        
    }
    
    .ita{
        position: relative;
        left: 245px;
        top: 90px;
        z-index: 1;
    }
    
    .Input1{
        position: relative;
        height: 700px ;
        left: 240px;
        top: 68px;
        border: none; 
        margin: 0;
        padding: 0;
        background-color:#F3F5FC; 
            padding: 5px;
            color: #0A3871;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 150%;
            resize: none;
            outline: none;
            z-index: 0;
    }
    
    .Frame3{
        position: fixed;
       
        left: 240px;
        height: 600px;
        top: 600px;
        
    
    }
    .buttonE{
        
        height: 60px;
        font-size: 16px;

        color: #FFFFFF;
        background-color: #0A3871;
        border-radius: 24px;
    
        flex: none;
        order: 0;
        flex-grow: 0;
    
    }
    
    .buttonD{
       
        height: 60px;
        font-size: 16px;
        color: #0A3871;
        background: #d8dfe8;
        border: 1px solid #0A3871;
        border-radius: 24px;
    
        flex: none;
        order: 1;
        flex-grow: 0;
    
    }
    
    
    .nmensaje{
        position: fixed;
        left: 885px;
        top: 430px;
        
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 120%;
        text-align: center;
        color: #343A40;
    
    
    
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        z-index: 4;
    
        
    
    }
    .nmensaje2{
    
        position: fixed;
        left: 885px;
        top: 500px;
        
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
    
        text-align: center;
    
        color: #343A40;
    
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    
    
        z-index:4 ;
    }
    
    
    .contenedor3{
        position: fixed;
    }
    
    .imgCont{
        position:fixed;
        left:860px;
        top:10px;
        height: 650px;
        
        
        /* White */
        
        background: #FFFFFF;
        /* shadow */
        
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
        border: #FFFFFF;
        
        
        text-align: center;
        
    }

    .TextContOut{
        position: fixed;
        left: 880px;
        top: 25px;
        height: 600px;

        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        /* or 36px */


        /* Gray/gray-400 */

        color: #495057;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        border: none;
        pointer-events: none;
    }

    
    
    .contText{
        display:flex;
        flex-direction: column;
       
        position: absolute;
       
        left:860px;
        top:10px;
    
        z-index: 2;

        
    
    }
    
    .Imuñeco{
        position:fixed;
        left:880px;
        top:150px;
        height: 250px;
        z-index: 3;
    }
    
    .buttonC{

        
        position: fixed;
        box-sizing: border-box;

        /* Auto layout */

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;

        position: absolute;
        
        height: 40px;
        left: 40px;
        top: 580px;
        background-color: #FFFFFF;

        /* Dark blue/dark-blue-300 */

        border: 1px solid #0A3871;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 24px;


        }
        .Hc{
            position: fixed;
            height: 19px;
            top: 5px;
            left: 5px;
            
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 19px;
            text-align: center;
    
            /* Dark blue/dark-blue-300 */
    
            color: #0A3871;
    
    
            /* Inside auto layout */
    
            flex: none;
            order: 0;
            flex-grow: 1;
    
        }
        .SMA{
            height: 10px;

            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            /* identical to box height, or 18px */


            /* Gray/gray-400 */

            color: #495057;

            opacity: 0.8;

            /* Inside auto layout */

            flex: none;
            order: 1;
            flex-grow: 0;

        }

  }


  @media only screen and (min-width: 550px) and (max-width: 1199px) {
    /* Aquí va la regla de estilo que deseas aplicar */
  
  
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .col-s-13{width: 140%;}
    .col-s-14{width: 230%;}
    .col-s-15{width: 33.8%;}
    .col-s-16{width: 39%;}
    .col-s-17{width: 20.5%;}
    .col-s-18{width: 42%;}
    .col-s-19{width: 50%;}
    .col-s-20{width: 14%;}
    
    body{
    
        background: hsl(227, 60%, 97%);
        position: fixed;
        overflow-y: scroll;
        
    }

    header{
        position: fixed;
        top: 20px;
        left: 100px;
    }

    .mnu{
        
        position: fixed;        
        width: 150px;
        height: auto;
        left: 300px;
        top: 0px;

        
    }
    .mnu2{
        
        position: fixed;        
        width: 150px;
        height: auto;
        left: 420px;
        top: 0px;

        
    }
    
    

    

    
    .Cont1T{
        position: fixed;
    }

    .itaT{
        position: relative;
        left: 150px;
        top: 100px;
        z-index: 1;
    }

    .Input1T{
        position: relative;
        height: 400px ;
        left: 150px;
        top: 68px;
        border: none; 
        margin: 0;
        padding: 0;
        background-color:#F3F5FC; 
            padding: 5px;
            color: #0A3871;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 150%;
            resize: none;
            outline: none;
            z-index: 0;
    }
    .Frame3T{
        position: fixed;
       
        left: 150px;
        
        top: 530px;
        
    
    }
    .buttonET{
        
        height: 60px;
        font-size: 12px;
        color: #F3F5FC;
        background-color: #0A3871;
        border-radius: 24px;
    
        flex: none;
        order: 0;
        flex-grow: 0;
    
    }
    
    .buttonDT{
       
        height: 60px;
        font-size: 12px;
        background: #F3F5FC;
        border: 1px solid #0A3871;
        border-radius: 24px;
        color: #0A3871;
        flex: none;
        order: 1;
        flex-grow: 0;
    
    }
    .contenedor3{
        position: fixed;
       
    }
    
    .imgContT{
        position:fixed;
        left:150px;
        top:650px;
        height: 140px;
        
        
        /* White */
        
        background: #FFFFFF;
        /* shadow */
        
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
        border: #FFFFFF;
        
        
        text-align: center;
        
    }

    .TextContOutT{
        position:fixed;
        left:170px;
        top:675px;
        height: 80px;

        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        /* or 36px */


        /* Gray/gray-400 */

        color: #495057;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        border: none;
        pointer-events: none;
    }

    .nmensajeT{
        position: fixed;
        left: 190px;
        top: 650px;
        
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        text-align: center;
        color: #343A40;
    
    
    
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        z-index: 4;
    
        
    
    }
    .nmensaje2T{
    
        position: fixed;
        left: 190px;
        top: 700px;
        
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 150%;
    
        text-align: center;
    
        color: #343A40;
    
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    
    
        z-index:4 ;
    }

    .ImuñecoT{
        display: none;
    }
    
    .buttonCT{


    

        position: fixed;
        box-sizing: border-box;

        /* Auto layout */

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;

        position: absolute;
        
        height: 40px;
        left: 1px;
        top: 200px;
        background-color: #FFFFFF;

        /* Dark blue/dark-blue-300 */

        border: 1px solid #0A3871;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 24px;


        }

    .HcT{
            position: fixed;
            height: 19px;
            top: 5px;
            left: 5px;
            
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 19px;
            text-align: center;
    
            /* Dark blue/dark-blue-300 */
    
            color: #0A3871;
    
    
            /* Inside auto layout */
    
            flex: none;
            order: 0;
            flex-grow: 1;
    
        }

        .SMAT{
            height: 10px;

            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            /* identical to box height, or 18px */


            /* Gray/gray-400 */

            color: #495057;

            opacity: 0.8;

            /* Inside auto layout */

            flex: none;
            order: 1;
            flex-grow: 0;

        }
}

@media only screen and (min-width: 200px) and (max-width: 549px) {
    /* Aquí va la regla de estilo que deseas aplicar */
  
  
    .col-sc-1 {width: 8.33%;}
    .col-sc-2 {width: 16.66%;}
    .col-sc-3 {width: 25%;}
    .col-sc-4 {width: 33.33%;}
    .col-sc-5 {width: 41.66%;}
    .col-sc-6 {width: 50%;}
    .col-sc-7 {width: 58.33%;}
    .col-sc-8 {width: 66.66%;}
    .col-sc-9 {width: 75%;}
    .col-sc-10 {width: 83.33%;}
    .col-sc-11 {width: 91.66%;}
    .col-sc-12 {width: 100%;}
    .col-sc-13{width: 140%;}
    .col-sc-14{width: 230%;}
    .col-sc-15{width: 33.8%;}
    .col-sc-16{width: 39%;}
    .col-sc-17{width: 20.5%;}
    .col-sc-18{width: 42%;}
    .col-sc-19{width: 50%;}
    .col-sc-20{width: 140%;}
    .col-sc-21{width: 250%;}
    
    body{
    
        background: hsl(227, 60%, 97%);
        position: fixed;
        overflow-y: scroll;
        
    }

    header{
        position: fixed;
        top: 20px;
        left: 10px;
    }

    
    .Cont1C{
        position: fixed;
    }

    .itaC{
        position: relative;
        left: 50px;
        top: 100px;
        z-index: 1;
    }
    .mnu{
        display: none;
        
    }
    .mnu2{
        display: none;
        
    }

    .Input1C{
        position: relative;
        height: 400px ;
        left: 50px;
        top: 68px;
        border: none; 
        margin: 0;
        padding: 0;
        background-color:#F3F5FC; 
            padding: 5px;
            color: #0A3871;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 150%;
            resize: none;
            outline: none;
            z-index: 0;
    }
    .Frame3C{
        position: fixed;
       
        left: 50px;
        
        top: 530px;
        
    
    }
    .buttonEC{
        
        height: 60px;
        font-size: 10px;

        color: #F3F5FC;
        background-color: #0A3871;
        
        border-radius: 24px;
    
        flex: none;
        order: 0;
        flex-grow: 0;
    
    }
    
    .buttonDC{
       
        height: 60px;
        font-size: 10px;
        background: #F3F5FC;
        border: 1px solid #0A3871;
        border-radius: 24px;
        color: #0A3871;
        flex: none;
        order: 1;
        flex-grow: 0;
    
    }
    .contenedor3{
        position: fixed;
    }
    
    .imgContC{
        position:fixed;
        left:50px;
        top:640px;
        height: 140px;
        
        
        
        background: #FFFFFF;
        
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
        border: #FFFFFF;
        
        
        text-align: center;
        
    }

    .TextContOutC{
        position:fixed;
        left:70px;
        top:660px;
        height: 80px;

        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;



        color: #495057;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        border: none;
        pointer-events: none;
    }

    .nmensajeC{
        position: fixed;
        left: 90px;
        top: 650px;
        
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        text-align: center;
        color: #343A40;
    
    
    
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        z-index: 4;
    
        
    
    }
    .nmensaje2C{
    
        position: fixed;
        left: 90px;
        top: 700px;
        
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
    
        text-align: center;
    
        color: #343A40;
    
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    
    
        z-index:4 ;
    }

    .ImuñecoC{
        display: none;
    }


    .buttonCC{

        

        position: fixed;
        box-sizing: border-box;


        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;

        position: absolute;
        
        height: 40px;
        left: 20px;
        top: 220px;
        background-color: #FFFFFF;


        border: 1px solid #0A3871;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 24px;

        


        }
        .HcC{
            position: fixed;
            height: 19px;
            top: 5px;
            left: 5px;
            
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 19px;
            text-align: center;
    
    
            color: #0A3871;
    
    
    
            flex: none;
            order: 0;
            flex-grow: 1;
    
        }
        .SMAC{
            height: 10px;

            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;



            color: #495057;

            opacity: 0.8;


            flex: none;
            order: 1;
            flex-grow: 0;

        }
}



